@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: DMSans-Regular;
	@apply text-font_black;
}

/* BUTTON */

.btn {
	font-family: DMSans-SemiBold;
	@apply rounded-[10px] flex items-center gap-[18px] uppercase;
}

.btn-solid {
	box-shadow: 0px 8px 24px 0px rgba(217, 14, 50, 0.12);
	@apply btn bg-primary_red text-white;
}

.btn-solid:hover {
	box-shadow: 0px 8px 24px 0px rgba(217, 14, 50, 0.12);
	@apply btn bg-primary_pink text-white;
}

.btn-solid::focus {
	box-shadow: 0px 8px 24px 0px rgba(217, 14, 50, 0.12);
	@apply btn bg-primary_red text-white;
}

.min-solid {
	@apply btn-solid py-[9px] px-[18px] justify-between text-[12px] leading-[20px] tracking-[1px];
}


/* INPUT */

.input {
	@apply rounded-[8px] text-[16px] leading-[22px] border px-[16px] py-[9px] h-[42px];
}

.input:hover {
	@apply border-phiolet;
}

.input:focus {
	@apply border-none outline-phiolet ;
}

.input::placeholder {
  @apply text-font_black;
}


